a {
    text-decoration: none;
}

.nav {
    width: 100%;
    /* height: 65px; */
    margin: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .catTab {
    padding: 10px 10px !important;
    border: none;
    background-color: #029709 !important;
    border-radius: 5px;
    font-size: 15px;
    text-transform: capitalize !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .catTab:hover {
    background-color: rgb(18, 194, 12) !important;
    color: #000000 !important;
}

.listNav {
    display: flex;
}

.navItems ul li {
    text-transform: capitalize !important;
    background-color: #fff !important;
    color: #029709 !important;
}

.navItems ul li a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 16px !important;
    padding: 20px 15px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.navItems ul li a:hover {
    color: #029709 !important;
    transform: translateY(-3px);
}

.navItems ul li :active {
    background-color: #f0f0f0;
}

.navItems ul li a:active {
    border-bottom: 1px solid #029709;
    color: #029709 !important;
    /* transform: translateY(-3px); */
}

/*------------------------------- middle nav------------------------------*/

.nav .part3 {
    justify-content: flex-end;
    width: 20%;
}

.nav .part3 .phNo h3 {
    font-size: 30px !important;
    line-height: 35px !important;
}

.nav .part3 .phNo p {
    font-size: 10px !important;
    opacity: 0.8;
    letter-spacing: 3px;
}

.nav .part3 .headseti {
    font-size: 60px;
    padding: 0px 10px;
}

.navItems ul li button a .fire {
    font-size: 20px;
    color: #029709;
    margin-right: 10px;
}

.navItems ul li button a .fire:hover {
    color: #ffffff;
}

.part1 {
    width: 20%;
}

.part2
{
    width: 60%;
}

/*----------------------------------- Pages Dropdownpage ----------------------------------*/

.dropdown_menu {
    position: absolute;
    width: 250px;
    height: auto;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 100;
    color: #000000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 20px;
    top: 65px;
}

.menuNew {
    top: 57px;
}

.dropdown_menu ul {
    padding: 20px 10px;
    margin: 0px;
}

.dropdown_menu li {
    width: 100% !important;
    margin: 0px !important;
    text-align: left !important;
    justify-content: flex-start !important;
    color: rgba(0, 0, 0, 0.5) !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    padding: 10px 0px;
    transition: all 0.2s ease-in-out;
}

.dropdown_menu li a {
    color: rgba(0, 0, 0, 0.5) !important;
    padding: 10px 20px;
    margin: 0px;
    transition: all 0.2s ease-in-out;
}

.dropdown_menu li:hover {
    color: #029709 !important;
    transform: translateY(-3px);
}

.dropdown_menu li a:hover {
    color: #029709 !important;
    transform: translateY(-3px);
}


li:hover .dropdown_menu {
    opacity: 1;
    visibility: inherit;
}

.browse:hover .dropdown_menu {
    opacity: 1;
    visibility: inherit;
}

/*----------------------------------- mega menu Dropdownpage ----------------------------------*/

.megamenu {
    height: auto !important;
    left: 0.5%;
    width: 98% !important;
    margin: auto;
    right: 0.5%;
    padding: 25px;
}

.megaImgOnText {
    position: relative;
}

.megaImgText {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 40px;
    padding: 20px;
}

.megaImgText p {
    color: #fff;
    text-transform: uppercase;
}

.megaImgText h4 {
    color: #fff;
}

.megaImgText h5 {
    color: #7bff00;
    margin-bottom: 30px;
}

.imgButt {
    color: #f8f8f8;
    border-radius: 30px;
    background-color: #029709;
    padding: 10px 20px;
}


.megaImg img {
    width: 95%;
    border-radius: 10px;
}

.megaitems {
    padding: 5px 0px;
}

.megaitems a {
    padding: 5px 0px;
}

.navItems ul .listNav .contactNavIc {
    display: none;
}

.navItems ul .listNav .homeIc{
    display: none;
}

.navItems ul .listNav .dealIc{
    display: none;
}

.navbarLine{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:1350px) {

    .navItems ul .listNav .contactNavIc {
        display: block;
    }

    .navItems ul li .contactNav {
        display: none;
    }

    .navItems ul li a {
        padding: 20px 12px;
    }

}

@media(max-width:1200px) 
{
    .navItems ul li a 
    {
        padding: 20px 10px;
    }

    .navItems ul .listNav .homeHe 
    {
        display: none;
    }

    .navItems ul .listNav .homeIc
    {
        display: block;
    }

    .navItems ul .listNav .dealHe 
    {
        display: none;
    }

    .navItems ul .listNav .dealIc
    {
        display: block;
    }
}

@media(max-width:1024px)
{
    .info1
    {
        display: none;
    }

    .part1 {
        width: 21%;
    }

    .part2 
    {
        width: 71%;
    }

    .nav .part3 
    {
        justify-content: flex-end;
        width: 8%;
    }

}